<!-- password-change.component.html -->
<div class="password-change-container">
  <mat-card class="password-change-card">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="submit(changePasswordForm.value)" autocomplete="off">
        <mat-form-field>
          <input matInput type="password" placeholder="Current Password" name="currentPassword" formControlName="currentPassword">
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">Current Password is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="New Password" name="newPassword" formControlName="newPassword">
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">New Password is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm New Password" name="confirmPassword" formControlName="confirmPassword">
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">Confirm New Password is required</mat-error>
          <mat-error *ngIf="changePasswordForm?.hasError('passwordMismatch')">Passwords do not match</mat-error>
        </mat-form-field>
        <div class="button">
          <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
