/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 500px;
}

mat-card {
  width: 80%;
}

mat-form-field {
  width: 100%;
}


mat-card-title{
  display: flex;
  justify-content: center;
}
